
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
$fa-font-path:"../webfonts";
// Variables
@import 'costume.scss';
@import 'variables';
@import 'flickity';
@import 'animate';


// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap-vue/dist/bootstrap-vue.css';
@import '~flickity/dist/flickity.css';


.navbar-laravel {
  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.btn{
  background-color: 253747;
}