 a{
   text-decoration: none;
 }
  .carousel-caption {
    font-size: 3rem;
    color:red;
    position: absolute;
    top: 3%;
    left: 20%;
     border: 1px solid rgb(248, 245, 245);


  }

   .give-now{
    background-color:darkgrey;
    height: 120px;
    margin-top: 2em;
    padding-top: 3%;
    color: white;
  }

a{
  text-decoration: none;
  color: white;
}

// hover in effect for online giving
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
    z-index: 999;
}
.card-title{
  text-transform: uppercase;
}
.more-recource{
  margin: 1em 0px;
  text-transform: uppercase;
}
// upcoming invent section style
.upcomingEventSecetion{
  background-color: rgba(0,0,0,0.12);
  height: auto;
  padding-top: 3em!important;
  margin-bottom: 3em;
   padding-top: 3em!important;

}
.upcomingEventSecetion .title{
  margin-bottom: 1em!important;
}
.card .upcoming {
  display: block;
    margin-bottom: 40px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transition: box-shadow .25s;
}
.card .upcoming:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.img-card {
  width: 100%;
  height:200px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;
    overflow: hidden;
}
.img-card img{
  width: 100%;
  height: 200px;
  object-fit:cover;
  transition: all .25s ease;
}
.card-content {
  padding:15px;
  text-align:left;
}
.card-title {
  margin-top:0px;
  font-weight: 700;
  font-size: 1.65em;
}
.card-title a {
  color: #000;
  text-decoration: none !important;
}
.card-read-more {
  border-top: 1px solid #D4D4D4;
}
.card-read-more a {
  text-decoration: none !important;
  padding:10px;
  font-weight:600;
  text-transform: uppercase
}
    .minister{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }
  // end of upcoming
  



// gallery style
  .auto-fit-and-minmax{
            /*  auto-fit-and-minmax this an advance concept of css grid system. it enables you to create more advance responsive layout*/
            margin-top: 300px;
            width: 100%;
            margin: 0 auto;
            display: grid;
            grid-gap: 5px;
            /* grid-template-columns: repeat(6, 1fr); */
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            grid-template-rows: repeat(2, 100px);  
            grid-auto-rows: 100px; 
        /* grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(2, 100px); what we have here is that  we defined 6 columns and make each colum to take 1 fraction of entire width and 2 rows and each 100px tall. the problem with this one is that is not responsive. what does that mean? even if you are viewing it mobile devinc it will still be 6 column width. so to get around with problem is to charge the grid-template-columns to like so grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            now when u refresh ur page the colums fit nicely across deffrent viewpiont but there is a problem with rows. is only first two rows will have 100px tall while others will just be according to there content. solution: grid-auto-rows: 100px.
            this is know as implicit rows */ 
        }

        /* image gallery */
    .img-grid{
        margin-top: 300px;
            width: 100%;
            margin: 0 auto;
            display: grid;
            grid-gap: 5px;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
            grid-auto-rows: 250px; 
            grid-auto-flow: dense;
    }
    .horizontal{
        grid-column: span 2;
    }
    .big{ grid-column: span 2;
         grid-row: span 2;}
    .vertical{
        grid-row: span 2;
    }
  

 .auto-fit-and-minmax{
            /*  auto-fit-and-minmax this an advance concept of css grid system. it enables you to create more advance responsive layout*/
            margin-top: 300px;
            width: 100%;
            margin: 0 auto;
            display: grid;
            grid-gap: 5px;
            /* grid-template-columns: repeat(6, 1fr); */
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            grid-template-rows: repeat(2, 100px);  
            grid-auto-rows: 300px; 
        /* grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(2, 100px); what we have here is that  we defined 6 columns and make each colum to take 1 fraction of entire width and 2 rows and each 100px tall. the problem with this one is that is not responsive. what does that mean? even if you are viewing it mobile devinc it will still be 6 column width. so to get around with problem is to charge the grid-template-columns to like so grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            now when u refresh ur page the colums fit nicely across deffrent viewpiont but there is a problem with rows. is only first two rows will have 100px tall while others will just be according to there content. solution: grid-auto-rows: 100px.
            this is know as implicit rows */ 
        }
        // contact styling
        Address{
          font-size: 1em;
          line-height: 1em;
          margin-top: 1.6em;
          

        }
        .fa-map-marker-alt{
          font-size: 2.5em;
        }
        .social{
          font-size:2em;
          margin-right:.6em;
        }

@media (min-width: 768px) {
 
}

@media (min-width: 992px) {
  
}

@media (min-width: 1200px) {

}
